@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 100px;
  --font-size-lg: 145px;

  /* Colors */
  --color-gray-100: #d9d9d9;
  --color-gray-200: rgba(0, 0, 0, 0.4);
  --color-black: #000;
}

.rectangle-div {
    bottom: 0;
    background-color: var(--color-gray-100);
    height: 94px;
  }
  .footer,
  .rectangle-div,
  .rectangle-div1 {
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
  }
  .footer {
    bottom: 0;
    height: 94px;
  }
  .rectangle-div1 {
    top: 0;
    background-color: var(--color-gray-100);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 105px;
  }
  .rectangle-div2 {
    position: absolute;
    top: calc(50% - 36.5px);
    left: calc(50% - 611px);
    background-color: #e9e9e9;
    filter: blur(4px);
    width: 95px;
    height: 74px;
  }
  .nav {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    height: 105px;
  }
  .rectangle-div3 {
    position: absolute;
    top: calc(50% - 172.5px);
    left: calc(50% + 317.5px);
    border-radius: 17px;
    background-color: var(--color-gray-100);
    width: 83px;
    height: 88px;
  }
  .rectangle-icon {
    position: absolute;
    top: calc(50% - 180.5px);
    left: calc(50% - 404.5px);
    border-radius: 25px;
    width: 670px;
    height: 191px;
  }
  .a {
    top: calc(50% - 115.5px);
    left: calc(50% - 375.5px);
    color: var(--color-gray-200);
    display: inline-block;
    width: 85px;
    height: 81px;
  }
  .a,
  .h1,
  .p {
    position: absolute;
  }
  .h1 {
    margin: 0;
    top: calc(50% - 128.5px);
    left: calc(50% - 265.5px);
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    width: 117px;
    height: 69px;
  }
  .p {
    top: calc(50% - 115.5px);
    left: calc(50% - 158.5px);
    color: var(--color-gray-200);
    width: 64px;
    height: 117px;
  }
  .div,
  .div1,
  .p {
    display: inline-block;
  }
  .div {
    position: absolute;
    top: calc(50% - 146.5px);
    left: calc(50% - 69.5px);
    font-size: var(--font-size-lg);
    width: 53px;
    height: 170px;
  }
  .div1 {
    top: calc(50% - 111.5px);
    left: calc(50% - 14.5px);
    width: 47px;
    height: 117px;
  }
  .div1,
  .div2,
  .r {
    position: absolute;
  }
  .div2 {
    top: calc(50% - 111.5px);
    left: calc(50% + 34.5px);
    display: inline-block;
    width: 66px;
    height: 117px;
  }
  .r {
    border: 0;
    font-family: var(--font-inter);
    font-size: var(--font-size-base);
    background-color: transparent;
    top: calc(50% - 174.5px);
    left: calc(50% + 164.5px);
    color: var(--color-gray-200);
    text-align: left;
    width: 64px;
    height: 118px;
  }
  .div3,
  .div4,
  .r {
    display: inline-block;
  }
  .div3 {
    position: absolute;
    top: calc(50% - 38.5px);
    left: calc(50% + 108.5px);
    width: 172px;
    height: 117px;
  }
  .div4 {
    top: calc(50% - 146.5px);
    left: calc(50% + 284.5px);
    font-size: var(--font-size-lg);
    width: 53px;
    height: 170px;
  }
  .div4,
  .line-div,
  .n {
    position: absolute;
  }
  .n {
    top: calc(50% - 182.5px);
    left: calc(50% + 337.5px);
    font-size: 75px;
    color: var(--color-gray-200);
    display: inline-block;
    width: 44px;
    height: 88px;
  }
  .line-div {
    top: calc(50% - 43.5px);
    left: calc(50% + 103.5px);
    border-top: 10px solid var(--color-black);
    box-sizing: border-box;
    width: 186px;
    height: 10px;
  }
  .rectangle-div4 {
    position: absolute;
    top: calc(50% + 108.5px);
    left: calc(50% - 112.5px);
    border-radius: 13px;
    background-color: var(--color-gray-100);
    backdrop-filter: blur(4px);
    width: 264px;
    height: 74px;
  }
  .calculate {
    position: absolute;
    top: calc(50% + 121.5px);
    left: calc(50% - 98.5px);
    font-size: 39px;
    display: inline-block;
    width: 236px;
    height: 48px;
    -webkit-text-stroke: 1px #000;
  }
  .ci-calc {
    position: absolute;
    top: calc(50% - 130px);
    left: calc(50% - 420px);
    width: 801px;
    height: 365px;
  }
  .macbook-air-1 {
    position: relative;
    background-color: #fbfbfb;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 832px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  